/* body{
    background-color: aqua;
} */
 body{
    background-image: url(https://images.pexels.com/photos/3037164/pexels-photo-3037164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
background-size: cover; }